.header{
    height: 100px;
    background-color: lawngreen;
}

.container{
    overflow: hidden;
}
.card1{
    width: 50%;
    height: 200px;
    float: left;
    background-color: salmon;
}
.card2{
    width: 50%;
    height: 200px;
    background-color: red;
    float: left;
}
.card3{
    height: 200px;
    background-color: brown;
}

.box{
overflow: hidden;

}
.item1{
    width: 33.33%;
    height: 300px;
    float: left;
    background-color: red;
}
.item2{
    width: 33.33%;
    height: 300px;
    float: left;
    background-color: green;
}
.item3{
    width: 33.33%;
    height: 300px;
    float: left;
    background-color: blueviolet;
}

.footer{
    height: 100px;
    background-color: chartreuse;
}